<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Aranyak | Landing Page Template</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/img/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/img/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/img/favicons/favicon-16x16.png"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/favicons/favicon.ico"
    />
    <link rel="manifest" href="assets/img/favicons/manifest.json" />
    <meta
      name="msapplication-TileImage"
      content="assets/img/favicons/mstile-150x150.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <script src="assets/js/config.js"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="stylesheet" href="vendors/swiper/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&amp;display=swap"
      rel="stylesheet"
    />
    <link href="assets/css/theme.css" rel="stylesheet" id="style-default" />
    <link href="assets/css/user-rtl.css" rel="stylesheet" id="user-style-rtl" />
    <link href="assets/css/user.css" rel="stylesheet" id="user-style-default" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
  </head>
  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="bg-white">
        <div class="">
          <nav
            class="navbar navbar-expand-lg py-1"
            id="navbar-top"
            data-navbar-soft-on-scroll="data-navbar-soft-on-scroll"
          >
            <div class="container">
              <a class="navbar-brand me-lg-auto cursor-pointer" href=""
                ><img
                  class="w-50 w-md-100 img-fluid"
                  src="assets/img/logos/logo.png"
                  alt=""
              /></a>
              <button
                class="navbar-toggler border-0 pe-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div
                class="collapse navbar-collapse"
                id="navbarSupportedContent"
                data-navbar-collapse="data-navbar-collapse"
              >
                <div
                  class="container d-lg-flex justify-content-lg-end pe-lg-0 w-lg-100"
                >
                  <form
                    class="form-inline position-relative w-lg-50 ms-lg-4 ms-xl-9 mt-3 mt-lg-0"
                    onsubmit="return false;"
                  >
                    <input
                      class="search fs-8 bg-transparent form-control"
                      type="search"
                      name="search"
                      placeholder="search plants..."
                    />
                    <div class="search-icon">
                      <span class="uil uil-search"></span>
                    </div>
                  </form>
                  <ul
                    class="navbar-nav mt-2 mt-lg-1 ms-lg-4 ms-xl-8 ms-2xl-9 gap-lg-x1"
                    data-navbar-nav="data-navbar-nav"
                  >
                    <li class="nav-item">
                      <a
                        class="nav-link nav-bar-item px-0"
                        href="/"
                        title="home"
                        >home</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link nav-bar-item px-0"
                        href="/add-post"
                        title="about"
                        >Post</a
                      >
                    </li>

                    <li class="nav-item">
                      <a
                        class="nav-link nav-bar-item px-0"
                        href="#review"
                        title="reviews"
                        >reviews</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link nav-bar-item px-0"
                        href="#support"
                        title="support"
                        >support</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </main>
  </body>
</html>
